[defaults]
inventory = ./inventory.ini
retry_files_enabled = False
interpreter_python = auto_silent

host_key_checking = False

private_key_file = ~/.ssh/ansible1
remote_user = figment
#ask_sudo_pass = True

[colors]
highlight = white
verbose = blue
warn = bright purple
error = red
debug = dark gray
deprecate = purple
skip = cyan
unreachable = red
ok = green
changed = yellow
diff_add = green
diff_remove = red
diff_lines = cyan

[privilege_escalation]
become_method = sudo
become = True
#become_ask_pass = True